table {
  margin: 0 7%;
  border-collapse: collapse;
  border: 2px solid #dee2e6;
}

th {
  text-align: left;
  border: 1px solid #dee2e6;
  padding: 15px;
  font-size: 18px;
}

th > tr {
  background-color: #fff;
  padding: 15px;
}

td {
  border: 1px solid #dee2e6;
  padding: 15px;
  padding-bottom: 25px;
}

table th:nth-child(4) {
  width: 20%;
}

table td:nth-child(1) {
  vertical-align: top;
  text-align: left;
  font-weight: bold;
  width: 12%;
}

table th:nth-child(3) {
  width: 12%;
}

tbody > tr:nth-child(odd) {
  background-color: #ececec;
}
